{% extends 'home/base.html' %} {% load static %} {% block meta %}
<title>Covid Donation</title>
<!-- Home Section  -->
<section id="home">
    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="home-row">
        <div class="col-left">
            <h1 class="lindungi">LINDUNGI DIRI KITA</h1>
            <h1 class="lawan">LAWAN CORONA</h1>
            <p class="ayo-bantu">Ayo bantu keluarga kita dengan <br>berdonasi sekarang!</p>
            <a href="{% url 'donasi:donasi'%}" type="button" class="cta">DONASI SEKARANG</a>
        </div>
        <div class="col-right">
            <img src="{% static 'home/images/home.jpg' %}" class="image foto-home" />
        </div>
    </div>
</section>
<!-- End Home Section  -->

<!-- Tips & Trick Section  -->
<Section id="tips-trick">
    <div class="tips-row">
        <div class="tips-col-left">
            <h1 class="gunakan-masker">GUNAKAN MASKER</h1>
            <p class="coba-guna">Menggunakan masker melindungi orang di sekitarmu.</p>
            <p>
                <a href="{% url 'home:masker' %}" type="button" class="masker" style="background-color: #007D91; color: white;  text-decoration: none;">PENGGUNAAN MASKER YANG TEPAT</a>
                <a href="{% url 'home:tips-trick' %}" type="button" class="masker" style=" text-decoration: none;color: white; ">TIPS & TRICK PENCEGAHAN COVID-19</a>
            </p>
        </div>
        <div class="tips-col-right">
            <img src="{% static 'home/images/masker.png' %}" class="image foto-masker" />
        </div>
    </div>

</Section>
<!-- End Tips & Trick Section -->

<!-- Donasi Section -->
<Section id="donasi">
    <div class="div-donasi">
        <h1 class="bantu">
            <span style="color:#007D91;">BANTU </span>KELUARGA KITA DENGAN <span style="color:#007D91;">BERDONASI</span>
        </h1>
        <h1 class="bantu" style="color:#007D91;">SEKARANG</h1>
    </div>
    <div class="karusel">
        <div id=" carouselExampleIndicators " class="carousel slide " data-ride="carousel ">
            <ol class="carousel-indicators ">
                <li data-target="#carouselExampleIndicators " data-slide-to="0 " class="active "></li>
                <li data-target="#carouselExampleIndicators " data-slide-to="1 "></li>
                <li data-target="#carouselExampleIndicators " data-slide-to="2 "></li>
            </ol>
            <div class="carousel-inner ">
                <div class="carousel-item active ">
                    <img class="d-block w-100 " src="{% static 'home/images/v1.jpg' %} " class="image " alt="First slide ">
                </div>
                <div class="carousel-item ">
                    <img class="d-block w-100 " src="{% static 'home/images/v2.jpg' %} " class="image " alt="Second slide ">
                </div>
                <div class="carousel-item ">
                    <img class="d-block w-100 " src="{% static 'home/images/v3.jpg' %} " class="image " alt="Third slide ">
                </div>
            </div>
            <a class="carousel-control-prev " href="#carouselExampleIndicators " role="button " data-slide="prev ">
                <span class="carousel-control-prev-icon " aria-hidden="true "></span>
                <span class="sr-only ">Previous</span>
            </a>
            <a class="carousel-control-next " href="#carouselExampleIndicators " role="button " data-slide="next ">
                <span class="carousel-control-next-icon " aria-hidden="true "></span>
                <span class="sr-only ">Next</span>
            </a>
        </div>
    </div>
    <div class="tombol">
        <a href="{% url 'donasi:donasi'%}" type="button" class="tombol-karusel">DONASI SEKARANG</a>
    </div>

</Section>
<!-- End Donasi Section -->

<!-- Contact Info Section -->
<section id="contact">
    <div class="contact container kontak">
        <div>
            <h1 class="section-title">CONTACT <span>INFO</span></h1>
        </div>
        <div class="contact-items">
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
                <div class="contact-info">
                    <h1>Phone</h1>
                    <h2>+1 234 123 1234</h2>
                    <h2>+1 234 123 1234</h2>
                </div>
            </div>
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
                <div class="contact-info">
                    <h1>Email</h1>
                    <h2>info@gmail.com</h2>
                    <h2>abcd@gmail.com</h2>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- End Contact Info Section -->
<section id="footer">
    <div class="footer container">
        <h2>Follow Us</h2>
        <div class="social-icon">
            <div class="social-item">
                <a href="#"><img src="{% static 'home/images/instagram.png' %}" class="image" /></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="{% static 'home/images/line.png' %}" class="image" /></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="{% static 'home/images/twitter.png' %}" class="image" /></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="{% static 'home/images/linkedin.png' %}" class="image" /></a>
            </div>
        </div>
    </div>
</section>

{% endblock %}