<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/JPG" href="{% static 'home/images/logo.JPG' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style2.css' %}" type="text/css">
        <title>Donasi</title>
    </head>

    <body>
        <!-- navbar -->
        <nav class="navbar fixed-top navbar navbar-expand-lg navbar-dark" style="background-color:#62959A;">
            <a href="#" class="navbar-brand">
                <!-- Logo Image -->
                <img src="{% static 'home/images/virus-logo.png' %}" width="45" alt="" class="d-inline-block align-middle mr-2">
                <!-- Logo Text -->
                <span class="text-uppercase font-weight-bold">COVID<span style="color:#F0AD4E">-19</span></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" style="justify-content: center;" id="navbarNavDropdown">
                <ul class="navbar-nav" style="margin: auto;">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home:index' %}">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:tips-trick' %}">TIPS & TRICKS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:index' %}">NEWS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news:kasus' %}">MAP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'discussion:index' %}">DISCUSSION</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:index' %}#contact">CONTACT</a>
                    </li>
                </ul>
                <div class="navbar-nav">
                    {% if not request.user.is_authenticated %}
                        <a href="{% url 'login:logging_in' %}" class="nav-item nav-link button-login">LOGIN</a>
                        <a href="{% url 'login:register' %}" class="nav-item nav-link button-signup">SIGN UP</a>
                    {% else %}
                        <a href="{% url 'login:logging_out' %}" class="nav-item nav-link button-signup">LOGOUT</a>
                    {% endif %}
                </div>
            </div>
        </nav>


        <form action='' method="POST">
        {% csrf_token %}
        <div class="container-fluid my-container">
            <div class="row row-atas">
                <div class="col-md-6 my-col donasi">
                    <div class="form-donasi">
                        <div class="card">
                            <div class="judul">
                                <h3>WE NEED YOUR HELP!</h3>
                            </div>
                            <div class="card-body">
                                <p><b>Donate</b></p>
                                {{form_donasi}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 my-col kartu">
                    <div class="row form-kartu">
                        <h3><b>DONATION FOR COVID PATIENTS</b></h3>
                    </div>
                    <div class="row form-kartu-2" style="padding-left: 100px; padding-right: 100px;">
                        {{form_kartu}}
                    </div>
                    <div class="row button-donasi">
                        <input type="submit" class="btn btn-donasi" value="DONASI">
                    </div>
                </div>
            </div>
            <div class="row riwayat-donasi">
                <h3><b>Riwayat Donasi</b></h3>
            </div>
            <div class="row row-bawah">
                <div class="col-md-6 my-col">
                    <div class='donatur'>
                        <table style="width: 100%;">
                            {% for Payment in data_form %}
                            <tr>
                                <td scope="col" class="data-donatur">
                                    <p class="nama"><b>{{Payment.Nama}} &nbsp; <mark style="background-color: #00576B; color: white; border-radius: 5px;">Rp {{Payment.Amount}}</mark></b>
                                    <br>Dilakukan donasi pada: {{Payment.Tanggal|date:"D d M Y"}},   {{Payment.Tanggal|time:"H:i"}}
                                    <br>{{Payment.Message}}</p>
                                <hr style="border-top: 2px solid #00576B; border-radius: 4px;">
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="col-md-6 my-col col-bawah">
                    <div class='row bawah-kanan bk-1'>
                    </div>
                    <div class='row bawah-kanan bk-2'>
                        <p class='lindungi'>LINDUNGI DIRI KITA</p>
                        <p class='lawan'><b>LAWAN CORONA</b></p>
                    </div>
                    <div class='row bawah-kanan button-donasi2'>
                        <button class='btn-donasi2' type="button" style="border: none;">DONASI SEKARANG<a href="{% url 'donasi:donasi' %}" class="nav-link"></a></button>
                    </div>
                </div>
            </div>
        </div>
        </form>

        <div class="footer-copyright text-center py-3" style="background-color: #62959A;">Copyright © 2020 tk-ppw-06. All rights reserved</div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>